@using System.Globalization
@typeparam TEnum
@inherits InputBase<TEnum>

<select @bind="CurrentValueAsString" @attributes="AdditionalAttributes">
    @foreach (Enum enumValue in Enum.GetValues(typeof(TEnum)))
    {
        var localizedText = enumValue.GetLocalizedDisplayName();

        <option value="@enumValue">@localizedText</option>
    }
</select>
