@inherits LayoutComponentBase
@inject NavMenuStateService NavState
<div class="d-flex min-vh-100">
    <div class="@(NavState.IsCollapsed ? "sidebar-expanded" : "sidebar-collapsed") d-block bg-body d-flex flex-column flex-shrink-0">
        <div class="p-3 border-end flex-grow-1 position-relative overflow-auto">
            <h5 class="mb-4"><a href="/" class="navbar-brand">Blazinga <Badge CssClass="rounded-pill text-bg-primary">@VersionHelper.GetVersion()</Badge></a></h5>
            <NavMenu />
        </div>
    </div>

    <div class="flex-grow-1 d-flex flex-column">
        <TopHeader />
        <main class="p-4 flex-grow-1 overflow-auto">
            @Body
        </main>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await NavState.InitializeAsync();
        NavState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        NavState.OnChange -= StateHasChanged;
    }
}
