@inherits LayoutComponentBase
@inject NavMenuStateService NavState
<div class="page">
    <div class="sidebar @NavMenuCssClass">
        <NavMenu />
    </div>

    <main>
        <TopHeader />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string? NavMenuCssClass => NavState.IsCollapsed ? "d-none" : "d-block";

    protected override async Task OnInitializedAsync()
    {
        await NavState.InitializeAsync();
        NavState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        NavState.OnChange -= StateHasChanged;
    }
}
