@page "/alertMessageDemo"

<PageTitle>AlertMessage</PageTitle>
<SectionContent SectionName="top-header">
    AlertMessage
</SectionContent>

<div class="row">
    <div class="col-6">
        <label>CssClass</label>
        <select @bind="@cssClass" class="form-select">
            <option value="alert-primary">Primary</option>
            <option value="alert-secondary">Secondary</option>
            <option value="alert-info">Info</option>
            <option value="alert-success">Success</option>
            <option value="alert-warning">Warning</option>
            <option value="alert-danger">Danger</option>
        </select>
    </div>
    <div class="col-6">
        <label>Alert</label>
        <span class="form-control-plaintext">
            <AlertMessage CssClass="@cssClass">@message</AlertMessage>
        </span>
    </div>
</div>

@code {
    private string message = "Test message";
    private string cssClass = "alert-primary";
}
