@page "/badgeLabelDemo"

<PageTitle>BadgeLabel</PageTitle>
<SectionContent SectionName="top-header">
    BadgeLabel
</SectionContent>

<div class="row">
    <div class="col-md-6">
        <label>CssClass</label>
        <select @bind="@cssClass" class="form-select">
            <option value="text-bg-primary">Primary</option>
            <option value="text-bg-secondary">Secondary</option>
            <option value="text-bg-info">Info</option>
            <option value="text-bg-success">Success</option>
            <option value="text-bg-warning">Warning</option>
            <option value="text-bg-danger">Danger</option>
        </select>
    </div>
    <div class="col-md-6">
        <label>Badge</label>
        <span class="form-control-plaintext">
            <BadgeLabel CssClass="@cssClass">Badge</BadgeLabel>
        </span>
    </div>
</div>

@code {
    private string cssClass = "text-bg-primary";
}
