@page "/dropdownSelectDemo"

<PageTitle>DropdownSelect</PageTitle>
<SectionContent SectionName="top-header">
    DropdownSelect
</SectionContent>

<div class="row">
    <div class="col-6">
        <label>User</label>
        <DropdownSelect TItem="UserModel"
                        Items="users"
                        TValue="int"
                        @bind-Value="UserId"
                        TextSelector="item => item.Name"
                        ValueSelector="item => item.Id"
                        AllowSearch="true"
                        Placeholder="Select a user"
                        SearchPlaceholder="Search..."
                        NoResultsText="No results."
                        CssClass="form-control" ItemCssClass="list-group-item-light" Height="200" />
    </div>
    <div class="col-6">
        <label>Selected User</label>
        <span class="form-control-plaintext">
            @if (UserId != 0)
            {
                var selectedUser = users.FirstOrDefault(x => x.Id == UserId);
                if (selectedUser != null)
                {
                    <span>@selectedUser.Name</span>
                }
            }
        </span>
    </div>
</div>

@code {
    private string selectedUser = string.Empty;
    private int UserId { get; set; } = 1;
    private List<UserModel> users = new List<UserModel>()
    {
        new UserModel() { Id = 1, Name = "John Doe" },
        new UserModel() { Id = 2, Name = "Jane Smith" },
        new UserModel() { Id = 3, Name = "Alice Johnson" },
        new UserModel() { Id = 4, Name = "Bob Brown" },
        new UserModel() { Id = 5, Name = "Charlie Black" },
    };
}
