@page "/enumSelectDemo"

<PageTitle>EnumSelect</PageTitle>
<SectionContent SectionName="top-header">
    EnumSelect
</SectionContent>

<div class="row">
    <div class="col-md-6">
        <label for="status">Status</label>
        <EnumSelect id="status" @bind-Value="SelectedStatus" class="form-select" />
        <Alert CssClass="alert-primary mt-2">Localizable: Switch culture to test.</Alert>
    </div>
    <div class="col-md-6">
        <label>Selected status</label>
        <span class="form-control-plaintext">
            @SelectedStatus.GetLocalizedDisplayName()
        </span>
    </div>
</div>

@code {
    private Status SelectedStatus = Status.Closed;
}
