@page "/enumSelectDemo"

<PageTitle>EnumSelect</PageTitle>
<SectionContent SectionName="top-header">
    EnumSelect
</SectionContent>

<p>
    <label for="status">Status</label>
    <EnumSelect id="status" @bind-Value="SelectedStatus" class="form-select" />
</p>

<p>Status: @SelectedStatus.GetLocalizedDisplayName()</p>

@code {
    private Status SelectedStatus = Status.Closed;
}
