@page "/enumSelectDemo"

<PageTitle>EnumSelect</PageTitle>
<SectionContent SectionName="top-header">
    EnumSelect
</SectionContent>

<div class="row">
    <div class="col-6">
        <label for="status">Status</label>
        <EnumSelect id="status" @bind-Value="SelectedStatus" class="form-select" />
        <div class="alert alert-primary mt-2" role="alert">
            Localizable: Switch culture to test.
        </div>
    </div>
    <div class="col-6">
        <label>Selected Status</label>
        <span class="form-control-plaintext">
            @SelectedStatus.GetLocalizedDisplayName()
        </span>
    </div>
</div>

@code {
    private Status SelectedStatus = Status.Closed;
}
