@page "/inputPercentDemo"

<PageTitle>InputPercent</PageTitle>
<SectionContent SectionName="top-header">
    InputPercent
</SectionContent>

<div class="row">
    <div class="col-md-6">
        <label>Percent</label>
        <InputPercent @bind-Value=@probability />
    </div>
    <div class="col-md-6">
        <label>Result</label>
        <span class="form-control-plaintext">
            @probability.ToString("P")
        </span>
    </div>
</div>

@code {
    private double probability = 0.5d;
}
