@page "/typeAheadDemo"

<PageTitle>TypeAhead</PageTitle>
<SectionContent SectionName="top-header">
    TypeAhead
</SectionContent>

<div class="row">
    <div class="col-md-6">
        <label>Product</label>
        <TypeAhead TItem="ProductModel" TValue="int?"
                   ValueSelector="item => item.Id" TextSelector="item => item.Name"
                   ValueChanged="OnProductChanged"
                   InitialText="@selectedProduct?.Name"
                   SearchFunction="SearchProductAsync"
                   CssClass="form-control"
                   NoResultsText="No results." Placeholder="Search..."
                   Height="200" />
    </div>
    <div class="col-md-6">
        <label>Selected Product</label>
        <span class="form-control-plaintext">
            @if (selectedProduct != null)
            {
                <span>@selectedProduct.Name</span>
            }
        </span>
    </div>
</div>

@code {
    private ProductModel? selectedProduct = new();
    private List<ProductModel> products = new List<ProductModel>();

    protected override void OnInitialized()
    {
        products = new List<ProductModel>()
        {
            new ProductModel { Id = 1, Name = "Product 1" },
            new ProductModel { Id = 2, Name = "Product 2" },
            new ProductModel { Id = 3, Name = "Product 3" },
            new ProductModel { Id = 4, Name = "Product 4" },
            new ProductModel { Id = 5, Name = "Product 5" },
        };
        //selectedProduct = products.FirstOrDefault();
    }

    private async Task<List<ProductModel>> SearchProductAsync(string searchText, CancellationToken cancellationToken)
    {
        if (string.IsNullOrEmpty(searchText))
        {
            return products;
        }
        var result = new List<ProductModel>();
        result = products.Where(x => x.Name.Contains(searchText, StringComparison.InvariantCultureIgnoreCase)).ToList();

        return await Task.FromResult(result);
    }

    private void OnProductChanged(int? productId)
    {
        if (productId.HasValue)
        {
            selectedProduct = products.FirstOrDefault(x => x.Id == productId.Value) ?? null;
        }
        else
        {
            selectedProduct = null;
        }
    }
}
